<form action="/images/lector" method="POST" enctype="multipart/form-data">
    <h2>Subir Imagen de lector</h2>
    <label for="file">Seleccione las imagenes</label>
    <input type="file" name="pdtc" required autocomplete="off" multiple>
    <button>Subir Imagen</button>
</form>

{{> footer}}